/*Estilos para telas de Até 425px*/

@media only screen and (max-width: 425px) {
/*Cabeçalho*/
    header .cabecalho{
        flex-direction: column;
    }
    .cabecalho nav{
        width: 100%;
        padding: 5px 0;
        border-top: 2px solid #00B2B9;
    }
    .cabecalho nav ul{
        justify-content: space-evenly;
        gap: 5px;
    }
    .cabecalho ul li{
        padding: 0px 10px ;
    }
/*Fim do cabeçalho*/
    /*Banner*/
    section.banner{
        height: 200px;
        justify-content: center;
    }
    .banner h1{
        font-size: 28px;
        text-align: center;
    }
/*Fim o banner*/
    /*SOBRE A CLÍNICA*/
    #sobre .a-clinica article:nth-child(2) img{
        display: none;
    }
    #sobre .img-especialidades{
        flex-wrap: wrap;
        gap: 20px;
    }
    .img-especialidades div{
        width: 300px;
    }
    #sobre .especialidades a{
        font-size: 14px;
    }
/*Fim da seção sebre*/
    /*Segunda página*/
    .padrao article img{
        display: none;
    }
    .padrao article{
        overflow-x: auto;
        padding: 0px 0px 30px;
    }
}



/*Estilos para telas Até 768px*/
@media screen and (min-width: 426px) and (max-width: 768px){
    header .cabecalho{
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .cabecalho nav{
        width: 280px;
    }
    /*Banner*/
    section.banner{
        height: 300px;
    }
    .banner h1{
        font-size: 30px;
    }
/*Fim o banner*/
    /*SOBRE A CLÍNICA*/
    #sobre .a-clinica article:nth-child(2) img{
        display: none;
    }
    #sobre .img-especialidades{
        flex-wrap: wrap;
        gap: 20px;
    }
    .img-especialidades div{
        width: 320px;
    }

    /*Segunda página*/
    .padrao article img{
        display: none;
    }
    
}